@model IvtLibrary.Conference

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.name)
    @Html.ValidationMessageFor(model => model.name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.place)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.place)
    @Html.ValidationMessageFor(model => model.place)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.full_name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.full_name)
    @Html.ValidationMessageFor(model => model.full_name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.scale_id)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.scale_id)
    @Html.ValidationMessageFor(model => model.scale_id)
</div>

