@model LibraryModel.Conference

@{
    ViewBag.Title = "Конференции";
}

<h2>Описание конференции</h2>

<fieldset>
    <legend>Конференция</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Место проведения</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place)
    </div>

    <div class="display-label">Полное название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">Масштаб</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scale.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
