@model IEnumerable<LibraryModel.Conference>

@{
    ViewBag.Title = "Конференции";
}

<h2>Список конференций</h2>

<p>
    @Html.ActionLink("Создать новую", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Место проведения
        </th>
        <th>
            Полное название
        </th>
        <th>
            Масштаб
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scale.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробное описание", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
