@model IvtLibrary.Conference

@{
    ViewBag.Title = "Конференции";
}

<h2>Описание конференции</h2>

<fieldset>
    <legend>Конференция</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Место проведения</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.place)
    </div>

    <div class="display-label">Полное название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.full_name)
    </div>

    <div class="display-label">Масштаб</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scale.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>