@model IEnumerable<IvtLibrary.City>

@{
    ViewBag.Title = "Города";
}
<script type="text/javascript">

        $(document).ready(function () {
            $("table").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [null, { "bSearchable": false }]
            });
        });
    </script>
<h2>Города</h2>

<p>
    @Html.ActionLink("Добавить новый город", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Редактирование", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.id }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.id })
        </td>
    </tr>
}
    </tbody>
</table>
