@model IEnumerable<Library.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bibliography)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConferenceStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConferenceEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Page)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConferenceNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bibliography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
