@model Library.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bibliography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bibliography)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
