@using IvtLibrary.Helpers
@using System.Web.Mvc.Html

@model IvtLibrary.Article

@{
    ViewBag.Title = "Статья";
}

<h2>Создание статьи</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    var fileCounter = 0;
    
    function ExtractFileName(fileName,fieldName) {
        //извлекаем путь к файлу и разделяем его на части по \\
        var splittedPath = $('#'+fileName)[0].value.split('\\');
        //сохраняем последний компонент пути - имя файла
        $('#'+fieldName)[0].value = splittedPath[splittedPath.length - 1];
    }
    
    function AppendLabel(elem, text) {
        elem.append($('<div/>').attr('class', 'editor-label').text(text));
    }
    
    function AppendBr(elem) {
        elem.append($('<br/>'));
    }
    
    function DeleteElementByName(elemName) {
        $('#' +elemName).remove();
        return false;
    }
    
    function AddFile() {
        
        var fileTypes = new Array();
        
        @foreach (var option in ViewBag.types)
        {
            @:fileTypes.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }
        var fd = $("<div/>").attr('name', 'file_params' + fileCounter).attr('id', 'file_params' + fileCounter);
        $("#file_div").append(fd);
        AppendBr(fd);
        AppendLabel(fd, 'Выбор файла');
        
        //функция, возвращающая функцию для call back'а
        var tempGetNameFunction = function(extraStuff) {
            return function() {
                ExtractFileName(extraStuff.fileData, extraStuff.fileField);
            };
        };
        var callBackGetnameFunction = tempGetNameFunction({ fileData: "file_data" + fileCounter, fileField: "fileName" + fileCounter });
        fd.append($('<input/>').attr('type', 'file').attr('requered', 'true').attr('name', 'file_data' + fileCounter).attr('id', 'file_data'+ fileCounter).change(callBackGetnameFunction));
        
        fd.append($('<input/>').attr('type', 'hidden').attr('name', 'fileName').attr('id', 'fileName' + fileCounter));
        AppendBr(fd);
        
        AppendLabel(fd, 'Тип файла');
        var selectList = $('<select/>').attr('name', 'typeId');
        for (var i = 0; i < fileTypes.length; i++) 
        {
            selectList.append(fileTypes[i]);
        }
        fd.append(selectList);
        AppendBr(fd);
        AppendLabel(fd, 'Версия файла');
        fd.append($('<input/>').attr('type', 'number').attr('name', 'version').attr('value', 1).attr('min',1));
        AppendBr(fd);
        
        AppendBr(fd);

        //функция, возвращающая функцию для call back'а
        var tempDeleteFunction = function(extraStuff) {
            return function() {
                DeleteElementByName(extraStuff.elemName);
            };
        };
        var callBackDeleteFunction = tempDeleteFunction({ elemName: 'file_params' + fileCounter });
        fd.append($('<input/>').attr('type', 'button').attr('value','Удалить').click(callBackDeleteFunction));
        AppendBr(fd);
        
        fileCounter++;
        return false;
    }
</script>

@using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Статья</legend>
        
        <input type="button" onclick="AddFile()" value="Добавить файл"/>

        <div id="file_div"></div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("authorIds", (List<SelectListItem>)ViewBag.AuthorsList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Theme)
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("themeIds", (List<SelectListItem>)ViewBag.ThemesList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("city_id", String.Empty)
            @Html.ValidationMessageFor(model => model.city_id)
            @Html.ActionLink("Добавить город", "Create", "City")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.conference_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("conference_id", String.Empty)
            @Html.ValidationMessageFor(model => model.conference_id)
            @Html.ActionLink("Создать новую конференцию", "Create", "Conference")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.supervisor_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.supervisor_id, (List<SelectListItem>)ViewBag.AuthorsList)
            @Html.ValidationMessageFor(model => model.supervisor_id)
            @Html.ActionLink("Добавить научного руководителя", "Create", "Author")
        </div>
        
                <div class="editor-label">
            @Html.LabelFor(model => model.conference_start_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.conference_start_date)
            @Html.ValidationMessageFor(model => model.conference_start_date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.conference_end_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.conference_end_date)
            @Html.ValidationMessageFor(model => model.conference_end_date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.publication_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publication_date)
            @Html.ValidationMessageFor(model => model.publication_date)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку статей", "Index")
</div>