@using IvtLibrary.Helpers
@model IvtLibrary.Article

@{
    ViewBag.Title = "Статья";
}

<h2>Удаление</h2>

<h3>Вы дествительно хотите удалить данную статью?</h3>
<fieldset>
    <legend>Статья</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
    <br/>
    <table>
        <tr>
            <th>
                Авторы
            </th>
        </tr>

        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    @Html.GetAbbreviatedName(item.first_name, item.middle_name, item.last_name)
                </td>
            </tr>
        }
    </table>
    <br/>
    <div class="display-label">Город публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.name)
    </div>

    <div class="display-label">Конференция</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conference.name)
    </div>

    <div class="display-label">Год публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>
    
    <div class="display-label">Научный руководитель</div>
    <div class="display-field">
        @if (Model.Supervizor != null)
        {
            var supervisor = Html.GetAbbreviatedName(Model.Supervizor.first_name, Model.Supervizor.middle_name, Model.Supervizor.last_name);
            @supervisor
        }
        else
        {
            @:Отсутствует
        }
    </div>
    
        <div class="display-label">Дата начала конференции</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conference_start_date)
    </div>
    
    <div class="display-label">Дата окончания конференции</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conference_end_date)
    </div>
    
    <div class="display-label">Дата публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publication_date)
    </div>
        <br/>
    <table>
        <tr>
            <th>
                Тематика публикации
            </th>
        </tr>

        @foreach (var item in Model.Theme)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.name)
                </td>
            </tr>
        }
    </table>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
