@model LibraryModel.Article

@{
    ViewBag.Title = "Статья";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Статья</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Город публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.Name)
    </div>

    <div class="display-label">Конференция</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conference.Name)
    </div>

    <div class="display-label">Год публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
