@using IvtLibrary.Helpers
@model IvtLibrary.Article

@{
    ViewBag.Title = "Статья";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Статья</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
    <br/>
    <table>
        <thead>
        <tr>
            <th>Авторы</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Author)
        {
            <tr>
                <td>@Html.GetAbbreviatedName(item.first_name, item.middle_name, item.last_name)</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <div class="display-label">Город публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.name)
    </div>

    <div class="display-label">Конференция</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conference.name)
    </div>

    <div class="display-label">Год публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>
    
    <div class="display-label">Научный руководитель</div>
    <div class="display-field">
        @if (Model.Supervizor != null)
        {
            var supervisor = Html.GetAbbreviatedName(Model.Supervizor.first_name, Model.Supervizor.middle_name, Model.Supervizor.last_name);
            @supervisor
        }
        else
        {
            @:Отсутствует
        }
    </div>
    
    <div class="display-label">Дата начала конференции</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conference_start_date)
    </div>
    
    <div class="display-label">Дата окончания конференции</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conference_end_date)
    </div>
    
    <div class="display-label">Дата публикации</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publication_date)
    </div>

    <br/>
    <table>
        <thead>
        <tr>
            <th>Тематика публикации</th><th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Theme)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.name)</td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
