@using IvtLibrary.Helpers
@model IvtLibrary.Article

@{
    ViewBag.Title = "Статья";
}

<h2>Редактирование статьи</h2>

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Статья</legend>

        @Html.HiddenFor(model => model.id)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("authorIds", (List<SelectListItem>)ViewBag.AuthorsList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Theme)
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("themeIds", (List<SelectListItem>)ViewBag.ThemesList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("city_id", String.Empty)
            @Html.ValidationMessageFor(model => model.city_id)
            @Html.ActionLink("Добавить город", "Create", "City")        
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.conference_id)
        </div>
        <div class="editor-field">
            @Html.DropDownList("conference_id", String.Empty)
            @Html.ValidationMessageFor(model => model.conference_id)
            @Html.ActionLink("Создать новую конференцию", "Create", "Conference")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supervisor_id)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.supervisor_id, (List<SelectListItem>)ViewBag.AuthorsList)
            @Html.ValidationMessageFor(model => model.supervisor_id)
            @Html.ActionLink("Добавить научного руководителя", "Create", "Author")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.conference_start_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.conference_start_date)
            @Html.ValidationMessageFor(model => model.conference_start_date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.conference_end_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.conference_end_date)
            @Html.ValidationMessageFor(model => model.conference_end_date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.publication_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publication_date)
            @Html.ValidationMessageFor(model => model.publication_date)
        </div>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>