@model IEnumerable<IvtLibrary.Article>

@{
    ViewBag.Title = "Статьи";
}

<h2>Список статей</h2>

<p>
    @Html.ActionLink("Создать статью", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Город публикации
        </th>
        <th>
            Конференция
        </th>
        <th>
            Год
        </th>
        <th>
            Научный руководитель
        </th>
        <th>
            Дата начала конференции
        </th>
        <th>
            Дата конца конференции
        </th>
        <th>
            Дата публикации
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conference.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervizor.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conference_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conference_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publication_date)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>

    </tr>
}

</table>
