@using IvtLibrary.Helpers
@using System.Web.Mvc.Html
@model IEnumerable<IvtLibrary.Article>

@{
    ViewBag.Title = "Статьи";
}
<script type="text/javascript">

        $(document).ready(function () {
            $("table").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [null, null, null, null, null, null, null, null, { "bSearchable": false }]
            });
        });
    </script>
<h2>Список статей</h2>

<p>
    @Html.ActionLink("Создать статью", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
        <th>@Html.DisplayNameFor(model => model.city_id)</th>
        <th>@Html.DisplayNameFor(model => model.conference_id)</th>
        <th>@Html.DisplayNameFor(model => model.year)</th>
        <th>@Html.DisplayNameFor(model => model.supervisor_id)</th>
        <th>@Html.DisplayNameFor(model => model.conference_start_date)</th>
        <th>@Html.DisplayNameFor(model => model.conference_end_date)</th>
        <th>@Html.DisplayNameFor(model => model.publication_date)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.name)</td>
        <td>@Html.DisplayFor(modelItem => item.City.name)</td>
        <td>@Html.DisplayFor(modelItem => item.Conference.name)</td>
        <td>@Html.DisplayFor(modelItem => item.year)</td>
        <td>@Html.DisplayFor(modelItem => item.Supervizor.last_name)</td>
        <td>@Html.DisplayFor(modelItem => item.conference_start_date)</td>
        <td>@Html.DisplayFor(modelItem => item.conference_end_date)</td>
        <td>@Html.DisplayFor(modelItem => item.publication_date)</td>
        <td>@Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробное описание", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>

    </tr>
}
    </tbody>
</table>
