@model LibraryModel.Author

@{
    ViewBag.Title = "Подробное описание";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Автор</legend>

    <div class="display-label">Имя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Отчество</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">Фамилия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
