@model IvtLibrary.Book

@{
    ViewBag.Title = "Книги";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту книгу?</h3>
<fieldset>
    <legend>Книга</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Год издания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>

    <div class="display-label">Издательство</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publisher)
    </div>

    <div class="display-label">Количество страниц</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.volume)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
