@model IvtLibrary.Book

@{
    ViewBag.Title = "Книги";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Книга</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Год издания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>

    <div class="display-label">Издательство</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publisher)
    </div>

    <div class="display-label">Количество страниц</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.volume)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
