@using IvtLibrary.Helpers
@model IvtLibrary.Book

@{
    ViewBag.Title = "Книги";
}
<h2>Подробности</h2>

<fieldset>
    <legend>Книга</legend>
    <br/>
    <table>
       <thead> 
            <tr>
                <th>Авторы</th><th></th>
            </tr>
       </thead>
        <tbody>
        @foreach (var item in Model.Author)
        {
            <tr>
                <td>
                    @Html.GetAbbreviatedName(item.first_name, item.middle_name, item.last_name)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Год издания</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>

    <div class="display-label">Издательство</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.publisher)
    </div>

    <div class="display-label">Количество страниц</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.volume)
    </div>

    <br/>
    <table>
        <thead>
            <tr>
                <th>Тематика публикации</th><th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Theme)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.name)
                </td>
            </tr>
        }
        </tbody>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
