@model IEnumerable<IvtLibrary.Book>

@{
    ViewBag.Title = "Книги";
}
<h2>Книги</h2>
    <script type="text/javascript">

        $(document).ready(function () {
            $("table").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [null, null, null, null, { "bSearchable": false }]
            });
        });
    </script>
<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table>
    <thead>        
        <tr>
            <th>@Html.DisplayNameFor(model => model.name)</th>
            <th>@Html.DisplayNameFor(model => model.year)</th>
            <th>@Html.DisplayNameFor(model => model.publisher)</th>
            <th>@Html.DisplayNameFor(model => model.volume)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.year)</td>
                <td>@Html.DisplayFor(modelItem => item.publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.volume)</td>
                <td>
                    @Html.ActionLink("Редактирование", "Edit", new {id = item.id}) |
                    @Html.ActionLink("Подробности", "Details", new {id = item.id}) |
                    @Html.ActionLink("Удаление", "Delete", new {id = item.id})
                </td>
            </tr>
        }
</tbody>
</table>