@model IEnumerable<IvtLibrary.Theme>

@{
    ViewBag.Title = "Список тем";
}
<script type="text/javascript">

        $(document).ready(function () {
            $("table").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [null, null, { "bSearchable": false }]
            });
        });
    </script>
<h2>Список тем</h2>

<p>
    @Html.ActionLink("Создать тему", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
        <th>@Html.DisplayNameFor(model => model.description)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Редактировать тему", "Edit", new { item.id }) |
            @Html.ActionLink("Просмотр темы", "Details", new { item.id }) |
            @Html.ActionLink("Удаление темы", "Delete", new { item.id })
        </td>
    </tr>
}
    </tbody>
</table>

