@using IvtLibrary.Helpers
@model IvtLibrary.Research

@{
    ViewBag.Title = "Исследования";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данное исследование?</h3>
<fieldset>
    <legend>Исследование</legend>
    
    <br/>
    <table>
        <thead>
        <tr>
            <th>Авторы</th><th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Author) {
            <tr>
                <td>
                    @Html.GetAbbreviatedName(item.first_name, item.middle_name, item.last_name)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Подробное описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
    
        <br/>
    <table>
        <thead>
        <tr>
            <th>Тематика публикации</th><th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Theme) {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.name)
                </td>
            </tr>
        }
        </tbody>
    </table>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
