@using IvtLibrary.Helpers
@model IvtLibrary.Research

@{
    ViewBag.Title = "Исследования";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Исследование</legend>

    <br/>
    <table>
        <tr>
            <th>
                Авторы
            </th>
        </tr>

        @foreach (var item in Model.Author) {
            <tr>
                <td>
                    @Html.GetAbbreviatedName(item.first_name, item.middle_name, item.last_name)
                </td>
            </tr>
        }
    </table>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Подробное описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <br/>
    <table>
        <tr>
            <th>
                Тематика публикации
            </th>
        </tr>

        @foreach (var item in Model.Theme) {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.name)
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>