@model IvtLibrary.File

@{
    ViewBag.Title = "Файл";
}

<h2>Подробная информация</h2>

<fieldset>
    <legend>Файл</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Тип содержимого</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content_type)
    </div>

    <div class="display-label">Тип</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.name)
    </div>
    
    <div class="display-label">Версия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.version)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>