@model IEnumerable<IvtLibrary.Draft>

@{
    ViewBag.Title = "Проект";
}
<script type="text/javascript">

        $(document).ready(function () {
            $("table").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [null, null, null, { "bSearchable": false }]
            });
        });
    </script>
<h2>Проект</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.title)</th>
        <th>@Html.DisplayNameFor(model => model.content)</th>
        <th>@Html.DisplayNameFor(model => model.creation_date)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { item.id }) |
            @Html.ActionLink("Подробное описание", "Details", new { item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { item.id })
        </td>
    </tr>
}
    </tbody>
</table>
