@model IvtLibrary.File

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.name)
    @Html.ValidationMessageFor(model => model.name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.content_type)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.content_type)
    @Html.ValidationMessageFor(model => model.content_type)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.type_id)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.type_id)
    @Html.ValidationMessageFor(model => model.type_id)
</div>

