@model IvtLibrary.File

@{
    ViewBag.Title = "Файл";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данный файл?</h3>
<fieldset>
    <legend>Файл</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Расширение</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content_type)
    </div>

    <div class="display-label">Тип</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.name)
    </div>
    
    <div class="display-label">Версия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.version)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
