@model IEnumerable<IvtLibrary.File>

@{
    ViewBag.Title = "Файлы";
}

<h2>Список файлов</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Тип
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробное описание", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id }) |
            @Html.ActionLink("Скачать файл", "Download", new { id = item.id })
        </td>
    </tr>
}

</table>