@using IvtLibrary
@using IvtLibrary.Helpers
@model Author

@{
    ViewBag.Title = "Автор";
}

<h2>Добавление</h2>

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Автор</legend>
         
        <div class="editor-label">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.last_name)
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.first_name)
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.middle_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.middle_name)
            @Html.ValidationMessageFor(model => model.middle_name)
        </div>
                     
         <div class="editor-label">
            @Html.LabelFor(model => model.Theme)
        </div>
        <div class="editor-field">
            @Html.CheckBoxList("themeIds", (List<SelectListItem>)ViewBag.ThemesList)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>
