@model IEnumerable<IvtLibrary.Author>

@{
    ViewBag.Title = "Авторы";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers",
            "aoColumns": [null, null, null, { "bSearchable": false }]
        });
    });
    </script>
<h2>Авторы</h2>

<p>
    @Html.ActionLink("Добавить нового автора", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.last_name)</th>
            <th>@Html.DisplayNameFor(model => model.first_name)</th>
            <th>@Html.DisplayNameFor(model => model.middle_name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.last_name)</td>
            <td>@Html.DisplayFor(modelItem => item.first_name)</td>
            <td>@Html.DisplayFor(modelItem => item.middle_name)</td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { item.id }) |
                @Html.ActionLink("Подробное описание", "Details", new { item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { item.id })
            </td>
        </tr>
    }
    </tbody>
</table>



